html {
    background-image: url('salmon.png'); 
    background-color: rgb(138, 134, 134);
    background-size: 10%
    
}

h1 {
    background-color: rgb(167, 35, 35);
    text-align: center;
}


h2 {
    background-color: rgb(138, 134, 134);
    text-align: center;
}


#storeTable {
    background-color: rgb(138, 134, 134);
}
td{
    text-align: center;
}

form {
    background-color: rgb(167, 35, 35);
}

button {
    color: rgb(160, 216, 253);
       
}
#tableHeader {
    font-weight: bold;
}